* {

padding: unset;
margin: unset;
border: unset;
text-decoration: none;
font-family: "Aboreto", "Inter medium", "Inter regular" sistem-ui;
font-style: normal;
list-style: none;
box-sizing: border-box;
line-height: none;
}

body {
    color: #1e1e1e;
}

header nav{
margin: auto;
width: 50%;
display: flex;
justify-content: flex-end;
padding: 10px 60px;
gap: 60px;



}

.boton1{
    text-align: center;
    font-family: "Inter bold";
    color: #f1f1f1;
    background-color: #687363
    
}

section nav{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: unset;
}

.presentationcard{
display: table;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
flex: 1;
float: left;
width: 25%;
padding: 0 10px;
text-align: center;
background-color: #f1f1f1;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
}

.jumbotron{
    background-image: url(Section.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Aboreto";
    color: #FFFF;
    padding: 100px 100px;

}

.jumbotron1{
    background-image: url(Jumbotron.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Aboreto";
    color: #FFFF;
    padding: 100px 100px;
}

